      <!-- Main Content Area -->
    <main class="mt-1">
      <h3 class="mx-3">Add New Task:</h3>
      <div class="col-md-10 mb-4 mx-4">
       
        <form [formGroup]="addtask" (ngSubmit)="SaveData()" >
        <div class="mb-3">
          <input type="text"  class="form-control" formControlName="title" placeholder="Title" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
          <textarea type="text" class="form-control" formControlName="description" placeholder="Description" id="exampleInputPassword1"></textarea>
        </div>
        <div class="d-flex flex-row">
          <div class="col-md-5">
            <select formControlName="priority" class= "form-select mb-3 form-select-sm">
              <option selected>Select Priority </option>
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
            </select>
          </div>
          <div class="col-md-5">
            <select formControlName="status" class="form-select mx-3 form-select-sm">
              <option selected>Select Status</option>
              <option value="1">Not Started</option>
              <option value="2">Running</option>
              <option value="3">Completed</option>
            </select>
          </div>
          <div class="mb-3 mx-3">
            <input type="number"  class="form-control ms-2" formControlName="percentage" placeholder="Percentage">
          </div>
        </div>
        <div class="mb-3">
          <input type="text"  class="form-control" formControlName="associatedProjects" placeholder="Associate Projects">
        </div>
        <button type="submit" class="btn btn-primary">Add Task</button>
      </form>
    </div>
      <div class="row">
        <div class="col-md-8 ">
          <h2 class="mb-3 mx-3">Your Tasks</h2>
          <div class="container text-center">
            <table class="table  table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">View</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody *ngFor="let task of data">
                <tr>
                  <th scope="row">{{task.taskId}}</th>
                  <td>{{task.title}}</td>
                  <td>{{task.description}}</td>
                  <td>
                    <i (click)="opentask(task.taskId)" class="fa fa-expand mx-2" style="font-size:20px; cursor: pointer; color: rgb(19, 103, 149);"></i>
                </td>
                  <th>
                    <i (click)="updatetaskbyid(task.taskId)" class="fa fa-pencil" style="font-size:20px;cursor: pointer;color: green;"></i>
                  </th>
                  <th><i (click)="delete_task(task.taskId)" class="fa fa-trash" style="font-size:20px;color:red;cursor: pointer;"></i></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

  
  